
@import url('https://fonts.cdnfonts.com/css/star-wars?styles=139840');
                
body {
  margin: 0;
  font-family: 'Star Wars', sans-serif;
}

code {
  font-family: 'Star Wars', sans-serif;
}
